Repository opendataeasy/opendataeasy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --loglevel warn, jest, eslint --fix, npx -y tsc-files --noEmit

Add npm run lint-staged
  CHANGELOG.md
  README.md
Due: prettier --write --loglevel warn

Annotate codegen
  README.md
Due: prettier --write --loglevel warn

Make codegen OOP-based
  bin/codegen
Due: none

Add bin/create-pr
  CHANGELOG.md
  bin/create-pr
Due: prettier --write --loglevel warn

Add bin/merge-pr
  CHANGELOG.md
  bin/merge-pr
Due: prettier --write --loglevel warn

Apply ln -s tsconfig.base.json tsconfig.json
  tsconfig.json
Due: prettier --write --loglevel warn

Change README
  README.md
Due: prettier --write --loglevel warn

Change CHANGELOG
  CHANGELOG.md
Due: prettier --write --loglevel warn

Add GOAL
  GOAL.md
  README.md
Due: prettier --write --loglevel warn

Apply npm install --save-dev @nrwl/express
  package-lock.json
  package.json
Due: prettier --write --loglevel warn

Apply npx nx g @nrwl/express:app gql
  apps/gql/.eslintrc.json
  apps/gql/jest.config.ts
  apps/gql/project.json
  apps/gql/src/app/.gitkeep
  apps/gql/src/assets/.gitkeep
  apps/gql/src/environments/environment.prod.ts
  apps/gql/src/environments/environment.ts
  apps/gql/src/main.ts
  apps/gql/tsconfig.app.json
  apps/gql/tsconfig.json
  apps/gql/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write --loglevel warn, jest, eslint --fix, npx -y tsc-files --noEmit

Add express apollo
  apps/gql/specs/main.spec.ts
  apps/gql/src/main.ts
  apps/gql/src/schema.ts
Due: prettier --write --loglevel warn, jest, eslint --fix, npx -y tsc-files --noEmit

Apply npm install @apollo/server express graphql cors body-parser
  package-lock.json
  package.json
Due: prettier --write --loglevel warn

Apply vercel
  .gitignore
Due: none

Apply fl --name opendataeasy-gql --region sin --dockerfile ./apps/gql/Dockerfile
  fly.toml
Due: none

Add gql Dockerfile
  .dockerignore
  apps/gql/Dockerfile
  docker-compose.yml
Due: none

Fix fly gql port
  fly.toml
Due: none

Add nx deploy gql
  apps/gql/project.json
Due: prettier --write --loglevel warn

Path conditions:
  prettier --write --loglevel warn: (any of: *.{json,md}) or (any of: *.ts)
  jest: any of: *.ts
  eslint --fix: any of: *.ts
  npx -y tsc-files --noEmit: any of: *.ts
